{% assign itemArray = collections.all.products %}
{% include 'product-grid' %}
<div class='grid grid--alt'>
  <div class='grid__inner'>
    <div class='custom-made'>
      <div class='custom-made__title'>Custom Made</div>
      <div class='custom-made__description'>{{ page.content }}</div>
      <div class='custom-made__link'>
        <a href='mailto:lucy@lilithviper.com'>lucy@lilithviper.com</a>
      </div>
    </div>
  </div>
</div>
