@font-face {
  font-family: 'Encient';
  src: url('EncientGermanGothic.eot'); /* IE9 Compat Modes */
  src: url('EncientGermanGothic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('EncientGermanGothic.woff2') format('woff2'), /* Super Modern Browsers */
       url('EncientGermanGothic.woff') format('woff'), /* Pretty Modern Browsers */
       url('EncientGermanGothic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('EncientGermanGothic.svg#EncientGermanGothic') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro';
  src: url('MyriadPro-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
