$fontStack: 'MyriadPro', sans-serif;
$fontStackTitle: 'Encient', serif;

// size
$fontSizeSmall: 12px;
$fontSize: 18px;
$fontSizeMedium: 28px;
$fontSizeLarge: 48px;
$fontSizeHuge: 68px;

// spacing
$lineHeight: 1.4;
$lineHeightTitle: 1;
$letterSpacing: 1px;
$letterSpacingLarge: 3px;
$letterSpacingHuge: 6px;
$letterSpacingNavTitle: 1px;
