$fontStack: 'MyriadPro', sans-serif;
$fontStackTitle: 'Encient', serif;
$fontSizeSmall: 12px;
$fontSize: 16px;
$fontSizeMedium: 26px;
$fontSizeLarge: 50px;
$fontSizeHuge: 76px;
$lineHeight: 1.4;
$lineHeightTitle: 1;
$letterSpacing: 1px;
$letterSpacingLarge: 3px;
$letterSpacingHuge: 6px;
