$fontStack: 'MyriadPro', sans-serif;
$fontStackTitle: 'Encient', serif;
$fontSizeSmall: 11px;
$fontSize: 15px;
$fontSizeMedium: 24px;
$fontSizeLarge: 48px;
$fontSizeHuge: 76px;
$lineHeight: 1.4;
$lineHeightTitle: 1;
$letterSpacing: 1px;
$letterSpacingLarge: 3px;
$letterSpacingHuge: 6px;
