// colours
$white: #fff;
$black: #000;
$colour: #d6001c;
$colourHover: #fff;
$colourBackground: #f8c3d7;
$colourOverlay: rgba($black, 0.2);

// space
$space: 8px;
$spaceBorder: $space * 7;

// z-index
$indexNav: 50;
$indexFooter: 50;
$indexLandingPage: 100;
$indexLoadingScreen: 200;

// breakpoints
$tablet: 1000px;
$mobile: 700px;
