// colours
$white: #efe7df;
$black: #101820;
$grey: #888;
$colour: #d6001c;
$colourHover: #fff;
$colourBackground: #f7ced7;
$colourOverlay: rgba($black, 0.15);

// space
$space: 8px;
$spaceBorder: $space * 7;
$spaceBorderMobile: $space * 2;

// z-index
$indexNav: 50;
$indexFooter: 50;
$indexLandingPage: 100;
$indexLoadingScreen: 200;

// breakpoints
$smallScreen: 1100px;
$tablet: 950px;
$mobile: 700px;

// animation
$transition: 0.35s;

// style
$border: 1px solid $colour;
$borderBlack: 1px solid $black;
$borderGrey: 1px solid $grey;
$borderSubtle: 1px solid rgba($black, 0.5);
