{% unless template == 'product' %}
  {% if template == 'index' %}
  <div class='nav nav--index'>
  {% else %}
  <div class='nav'>
  {% endif %}
    {% unless template == 'index' %}
    <div class='nav__title'><a href='/'>Lilith Viper</a></div>
    {% endunless %}
    <div class='nav__item'><a href="/pages/shop">Shop</a></div>
    <div class='nav__item'><a href="/pages/about">About</a></div>
    <div class='nav__item'><a href="/collections">Collections</a></div>
    <div class='nav__item'><a href="/pages/contact">Contact</a></div>
    {% unless cart.item_count == 0 %}
    <div class='nav__item'><a href='/cart'>Bag ({{ cart.item_count }})</a></div>
    {% endunless %}
  </div>
{% endunless %}

{% comment %} back button
{% unless template == 'index' %}
  {% include 'back-button' %}
{% endunless %}
{% endcomment %}
