<div class='grid'>
  <div class='grid__inner'>
    {% for i in (0..2) %}
      {% assign indexHalf = 0 %}
      {% assign indexThird = 0 %}

      <div class='grid__column'>
        {% for item in itemArray %}
          {% assign itemTitle = item.title %}
          {% assign itemURL = item.url %}
          {% assign itemPrice = item.price %}
          {% assign itemImage = item.featured_image.src | img_url: 'grande' %}

          {% comment %} items for single grid {% endcomment %}
          {% if i == 0 %}
            {% assign itemClass = 'grid__item--single' %}
            {% include 'product-grid-item' %}
          {% endif %}

          {% comment %} items for double grid {% endcomment %}
          {% if i <= 1 %}
            {% assign flag = indexHalf | minus:i | modulo:2 %}
            {% if flag  == 0 %}
              {% assign itemClass = 'grid__item--double' %}
              {% include 'product-grid-item' %}
            {% endif %}
            {% assign indexHalf = indexHalf | plus:1 %}
          {% endif %}

          {% comment %} items for triple grid {% endcomment %}
          {% assign flag = indexThird | minus:i | modulo:3 %}
          {% if flag == 0 %}
            {% assign itemClass = 'grid__item--triple' %}
            {% include 'product-grid-item' %}
          {% endif %}
          {% assign indexThird = indexThird | plus:1 %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
