.cart {
  width: 100%;
  min-height: 100vh;
  padding: $spaceBorder;
  display: flex;
  justify-content: flex-end;

  .cart__inner {
    width: 50%;

    .cart__title {
      font-size: $fontSizeHuge;
      font-family: $fontStackTitle;
      line-height: $lineHeightTitle;
      width: 100%;
      padding-bottom: $space;
      margin-bottom: $space * 2;
      border-bottom: $border;
    }

    .cart__item {
      width: 100%;
      display: flex;
      margin-bottom: $space * 2;

      .cart__item-image {
        a {
          display: flex;
        }
      }

      .cart__item-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: $space;

        .cart__item-title {
          font-size: $fontSizeMedium;
          font-family: $fontStackTitle;
          line-height: $lineHeightTitle;
          //border-bottom: $border;
          text-decoration: underline;
          margin-bottom: $space * 2;
        }

        .cart__item-variant {}

        .cart__item-price {
          input {
            width: 60px;
            border-radius: 0 !important;
            border: $borderGrey;
            outline: none !important;
            text-align: right;
          }
        }

        .cart__item-remove {
          margin-top: $space * 2;
          a {
            text-decoration: underline;
          }
        }
      }
    }

    .cart__sub-total {
      button {
        @include pad(2, 1);
        border-radius: 0 !important;
        border: $border;
        outline: none !important;
        text-transform: uppercase;
        font-size: $fontSizeMedium;
        background: none;
        color: $colour;
        cursor: pointer;

        &:hover {
          background: $colour;
          color: $colourBackground;
        }
      }
    }

    .cart__empty-msg {
       a {
         text-decoration: underline;
       }
    }
  }

  @media screen and (max-width: $tablet) {
    .cart__inner {
      width: 100%;
    }
  }

  @media screen and (max-width: $mobile) {
    padding: $spaceBorderMobile;

    .cart__inner {
      .cart__title {
        padding-bottom: 0;
        font-size: $fontSizeLarge;
      }

      .cart__item {
        .cart__item-info {
          .cart__item-title {
            width: 100%;
          }
        }
      }
    }
  }
}
