.grid--collections {
  .grid__inner {
    .grid__item {
      width: 50%;
      height: 100vh;

      a {
        .grid__item-overlay {
          .grid__item-text {
            .grid__item-title {
              font-size: $fontSizeLarge;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: $tablet) {
    .grid__inner {
      .grid__item {
        width: 100%;

        a .grid__item-overlay .grid__item-text .grid__item-title {
          font-size: $fontSizeHuge;
        }
      }
    }
  }

  @media screen and (max-width: $mobile) {
    a .grid__item-overlay .grid__item-text .grid__item-title {
      font-size: $fontSizeMedium;
    }
  }
}
