@keyframes logo {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.landing-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: $indexLandingPage;
  background: $colour;
  color: $black;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 50vh;
    width: auto;
    object-fit: contain;
    animation-name: logo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
