.nav {
  font-family: $fontStackTitle;
  line-height: $lineHeightTitle;
  position: fixed;
  top: 50%;
  right: 65vw;
  transform: translateY(-50%) rotate(15deg);
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: $indexNav;

  .nav__title {
    font-size: $fontSizeHuge;
    letter-spacing: $letterSpacingHuge;

    &:hover {
      text-decoration: underline;
    }
  }

  .nav__item {
    cursor: pointer;
    letter-spacing: $letterSpacingLarge;
    font-size: $fontSizeLarge;
    @include pad(0, 0.25);

    &:hover {
      text-decoration: underline;
    }
  }

  &.nav--alt {
    align-items: flex-start;
    transform: translateY(-50%);
    left: $spaceBorder;

    .nav__item {
      font-size: $fontSizeMedium;
    }

    .nav__back {
      display: block;
    }
  }

  &.nav--hide {
    display: none;
  }
}
