.nav {
  font-family: $fontStackTitle;
  line-height: $lineHeightTitle;
  position: fixed;
  top: $spaceBorder;
  left: $spaceBorder;
  user-select: none;
  display: flex;
  z-index: $indexNav;

  .nav__inner {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .nav__title {
      font-size: $fontSizeHuge;
      letter-spacing: $letterSpacingNavTitle;
      //white-space: nowrap;

      &:hover {
        opacity: 0.5;
      }
    }

    .nav__item {
      cursor: pointer;
      letter-spacing: $letterSpacingLarge;
      font-size: $fontSizeMedium;
      @include pad(0, 0.25);

      &:hover {
        text-decoration: underline;
      }

      &.active {
        text-decoration: underline;
      }
    }
  }

  &.nav--page {
    left: 0;
    width: 30.5%;
    justify-content: center;
  }

  &.nav--index {
    top: 50%;
    left: 50vw;
    transform: translate(-50%, -50%) rotate(-8deg);
    line-height: $lineHeightNav;

    .nav__inner {
      align-items: flex-end;

      .nav__item {
        @include pad(1, 0.25);
        margin-top: 0.25 * $space;
        margin-bottom: 0.25 * $space;
        font-size: $fontSizeNav;
        text-shadow: 2px 2px 4px $colourNavDropShadow;
        color: $colourNav;
      }
    }
  }

  &.nav--hide {
    display: none;
  }

  @media screen and (max-width: $mediumScreen) {
    &.nav--page {
      left: $spaceBorder;
      justify-content: flex-start;
    }

    &.nav--index {
      // right: 30vw;
    }
  }

  @media screen and (max-width: $tablet) {
    display: none;

    &.nav--index {
      display: flex;
      //top: 38%;
      //left: 22%;
      //right: auto;
      //transform: translate(-50%, -50%) rotate(19deg);

      .nav__inner {
        .nav__item {
          font-size: $fontSizeLarge;
          text-shadow: 1px 1px $colourNavDropShadow;
        }
      }
    }
  }

  @media screen and (max-width: $mobilePortrait) {
    &.nav--index {
      //top: 39%;
      //left: 20%;
      //transform: translate(-50%, -50%) rotate(19deg) scale(0.6);
    }
  }
}
