.nav {
  font-family: $fontStackTitle;
  line-height: $lineHeightTitle;
  position: fixed;
  top: 50%;
  left: $spaceBorder;
  transform: translateY(-50%);
  user-select: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  z-index: $indexNav;

  .nav__title {
    font-size: $fontSizeHuge;
    letter-spacing: $letterSpacingHuge;

    &:hover {
      text-decoration: underline;
    }
  }

  .nav__item {
    cursor: pointer;
    letter-spacing: $letterSpacingLarge;
    font-size: $fontSizeMedium;
    @include pad(0, 0.25);

    &:hover {
      text-decoration: underline;
    }
  }

  &.nav--index {
    align-items: flex-end;
    transform: translateY(-50%) rotate(15deg);
    right: 65vw;
    left: auto;

    .nav__item {
      font-size: $fontSizeLarge;
    }
  }

  &.nav--hide {
    display: none;
  }

  @media screen and (max-width: $tablet) {
    display: none;

    &.nav--index {
      display: block;
    }
  }
}
