<div class='landing-page'>
  <img
    class='landing-page__landscape'
    src='{{ settings.landing_image | img_url: "master" }}'
    alt='Lilith Viper'/>
  <img
    class='landing-page__portrait'
    src='{{ settings.landing_image_mobile | img_url: "master" }}'
    alt='Lilith Viper'/>
  <div class='landing-page__logo'>
    {{ 'LilithViperVLogoSnakeWhite.png' | file_url | img_tag }}
  </div>
</div>
